fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-auth
email-validator

google-genai
qdrant-client
python-dotenv
pymupdf
python-docx
python-pptx
numpy
lxml
requests
httpx
tenacity
openai
pypdf
